#navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 20px;

  a,
  span {
    font-size: 18px;
    color: $color2;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $color3;
    }
  }
}